:root {
    --primary-text-color: #fcfcfc;
    --minor-text-color: #ffffff;
    --main-text-color: #131313;
    --btn-text-color: #000000;
    --bcg-button-icon-accent-color: #f8d24e;
    --second-bcg-product-color: #efd478;
    --background-color: #84a178;
    --first-bcg-product-color: #aec6a5;
    --first-bcg-shadow-product-color: #9cbe8f;
    --border-modal-color: #96af8c;
    --third-bcg-product-accent-contacts-color: #d6936d;
    --third-bcg-shadow-product-color: #d5753f;
    --secondary-text-color: #ababab;
    --dot-reviews-color: #d9d9d9;
    --line-footer-color: #e1e1e1;
    --footer-text-color: #7a7a7a;
}
