$text-primary-color: #fcfcfc;
$text-minor-color: #ffffff;
$text-main-color: #131313;
$text-btn-color: #000000;
$bcg-button-icon-accent-color: #f8d24e;
$bcg-second-product-color: #efd478;
$background-color: #84a178;
$bcg-first-product-color: #aec6a5;
$bcg-first-shadow-product-color: #9cbe8f;
$border-modal-color: #96af8c;
$bcg-third-product-accent-contacts-color: #d6936d;
$bcg-third-shadow-product-color: #d5753f;
$text-secondary-color: #ababab;
$dot-reviews-color: #d9d9d9;
$line-footer-color: #e1e1e1;
$footer-text-color: #7a7a7a;
