<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about">
        <div class="about_container">
            <p class="about_pre-title">tradition and love</p>
            <h2 class="about_title">how it’s made?</h2>
        </div>
        <div class="about_context-container">
        <div class="about_img-container">
            <img  
            srcset="./images/png1x-about-cow-mob-min.png 279w,
             ./images/png1x-about-cow-tablet-min.png 330w, 
             ./images/png1x-about-cow-desktop-min.png 490w,
             ./images/png2x-about-cow-mob-min.png 558w,
             ./images/png2x-about-cow-tablet-min.png 660w, 
             ./images/png2x-about-cow-desktop-min.png 980w" 
            src="./images/png1x-about-cow-mob-min.png" 
            sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 320px) 280px, 100vw"
            alt="Cow on the field"></div>
        <div class="about_description"><p>Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
        <p>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p></div>
    </div>
        <button type="button">Read more <svg><use href="./images/icon.svg#icon-arrow-right-small"></use></svg></button>
    </section>
</body>
</html>