<section class="reviews">
    <div class="container">
        <div class="one-time karusel">
            <div class="karusel__item">
                <picture>
                    <source srcset="./images/img1x-emily-review-min.jpg 1x, ./images/img2x-emily-review-min.jpg 2x" type="image/jpg">
                    <img src="./images/img1x-emily-review-min.jpg" alt="Emily" class="karusel__img" type="image/jpg">
                </picture>
                <div class="karusel__text-box">
                    <p class="karusel__text"></p>
                </div>
                <p class="karusel__name"></p>
            </div>
            <div class="karusel__item">
                <picture>
                    <source srcset="./images/img1x-bryan-review-min.jpg 1x, ./images/img2x-bryan-review-min.jpg 2x" type="image/jpg">
                    <img src="./images/img1x-bryan-review-min.jpg" alt="Bryan" class="karusel__img" type="image/jpg">
                </picture>
                <div class="karusel__text-box">
                    <p class="karusel__text"></p>
                </div>
                <p class="karusel__name"></p>
            </div>
            <div class="karusel__item">
                <picture>
                    <source srcset="./images/img1x-diana-review-min.jpg 1x, ./images/img2x-diana-review-min.jpg 2x" type="image/jpg">
                    <img src="./images/img1x-diana-review-min.jpg" alt="Diana" class="karusel__img" type="image/jpg">
                </picture>
                <div class="karusel__text-box">
                    <p class="karusel__text"></p>
                </div>
                <p class="karusel__name"></p>
            </div>
        </div>
    </div>
</section>