<footer>
    <div class="container">
    <div class="footer-left-wrap">
    <p class="footer-pre-title">HOMEMADE ICE CREAM MADE</p>
    <h2 class="footer-title">WITH PASSION</h2>
    </div>
    <div class="footer-right-wrap">
    <ul class="soc-list list">
        <li class="soc-list__item">
            <a href="https://github.com/" target="_blank" class="soc-list__link link">
                <svg class="soc-list__icon" width="20" height="20">
                    <use href="./images/icon.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="soc-list__item">
            <a href="https://telegram.org/" target="_blank" class="soc-list__link link">
                <svg class="soc-list__icon" width="20" height="20">
                    <use href="./images/icon.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="soc-list__item">
            <a href="https://www.facebook.com/" target="_blank" class="soc-list__link link">
                <svg class="soc-list__icon" width="20" height="20">
                    <use href="./images/icon.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="footer-tel-wrap">
    <p></p>
    <a class="footer-contact__link link" href="tel:+610383766284"><span class="footer-contact__link--right"> Feel free to contact</span> +61 (0) 383 766 284</a>
    </div>
    </div>
    </div>
    <div class="copy-wrap">
        <div class="tablet-wrap">
        <p class="copy-space">&copy; 2022 - IceCream.</p>
        <p>All Rights Reserved.</p>
        </div>
        </div>
</footer>
