<div class="gallery">
    <div class="one-time karusel">
        <div class="karusel__item">
            <picture>
                <source srcset="./images/gallery1-large.jpg x1, ./images/gallery1-large@2x.jpg 2x" media="min-width: 1200px" type="image/jpg">
                <source srcset="./images/gallery1-medium.jpg x1, ./images/gallery1-medium@2x.jpg 2x" media="min-width: 768px" type="image/jpg">
                <source srcset="./images/gallery1-small.jpg x1, ./images/gallery1-small@2x.jpg 2x" media="min-width: 480px" type="image/jpg">
                <source srcset="./images/gallery1-tiny.jpg x1, ./images/gallery1-tiny@2x.jpg 2x" media="max-width: 479px" type="image/jpg">
                <img class="karusel__img" src="./images/gallery1-medium.jpg" alt="Ice cream" type="image/jpg">
            <picture>
        </div>
        <div class="karusel__item">
            <picture>
                <source srcset="./images/gallery2-large.jpg x1, ./images/gallery2-large@2x.jpg 2x" media="min-width: 1200px" type="image/jpg">
                <source srcset="./images/gallery2-medium.jpg x1, ./images/gallery2-medium@2x.jpg 2x" media="min-width: 768px" type="image/jpg">
                <source srcset="./images/gallery2-small.jpg x1, ./images/gallery2-small@2x.jpg 2x" media="min-width: 480px" type="image/jpg">
                <source srcset="./images/gallery2-tiny.jpg x1, ./images/gallery2-tiny@2x.jpg 2x" media="max-width: 479px" type="image/jpg">
                <img class="karusel__img" src="./images/gallery2-medium.jpg" alt="Ice cream" type="image/jpg">
            <picture>
        </div>
        <div class="karusel__item">
            <picture>
                <source srcset="./images/gallery3-large.jpg x1, ./images/gallery3-large@2x.jpg 2x" media="min-width: 1200px" type="image/jpg">
                <source srcset="./images/gallery3-medium.jpg x1, ./images/gallery3-medium@2x.jpg 2x" media="min-width: 768px" type="image/jpg">
                <source srcset="./images/gallery3-small.jpg x1, ./images/gallery3-small@2x.jpg 2x" media="min-width: 480px" type="image/jpg">
                <source srcset="./images/gallery3-tiny.jpg x1, ./images/gallery3-tiny@2x.jpg 2x" media="max-width: 479px" type="image/jpg">
                <img class="karusel__img" src="./images/gallery3-medium.jpg" alt="Ice cream" type="image/jpg">
            <picture>
        </div>
    </div>
</div>