<!-- Header -->
<header>
    <div class="header__container container" id="header">
        <picture class="header__logo">
            <!-- desktop screen -->
            <source srcset="./images/png1x-logo-desktop-min.png 1x, 
                    ./images/png2x-logo-desktop-min.png 2x" media="(min-width:1200px)">
            <!-- tablet screen -->
            <source srcset="./images/png1x-logo-tablet-min.png 1x, 
                    ./images/png2x-logo-tablet-min.png 2x" media="(min-width:768px)">
            <!-- phone screen -->
            <source srcset="./images/png1x-logo-mob-min.png 1x, 
                    ./images/png2x-logo-mob-min.png 2x" media="(min-width:480px)">
            <img width="48" height="44" src="./images/png1x-logo-mob-min.png" alt="ice-cream">
        </picture>

        <nav class="navigation">
            <ul class="navigation__list list">
                <li class="navigation__item"><a class="navigation__link link" href="#header">Home</a></li>
                <li class="navigation__item"><a class="navigation__link link" href="#about">How it’s made?</a></li>
                <li class="navigation__item"><a class="navigation__link link" href="#products-section">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link link" href="#contant">Contact</a></li>
            </ul>
        </nav>

        <div class="button__label">
            <button class="menu-toggle js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
                <svg  class="menu-toggle--svg">
                    <use href="./images/icon.svg#icon-menu-open"></use>
                </svg>

            </button>
            <button class="header__button btn-light" type="button">
                <span>Buy now</span>
                <svg width="12" height="12">
                    <use href="./images/icon.svg#icon-arrow-right-small"></use>
                </svg>
            </button>
        </div>
    </div>

</header>

<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">

    <button class="menu-toggle js-close-menu" type="button">
        <svg width="32" height="32">
            <use href="./images/icon.svg#icon-close-menu"></use>
        </svg>
    </button>

    <picture>
        <!-- tablet screen -->
        <source srcset="./images/png1x-logo-tablet-min.png 1x, 
                            ./images/png2x-logo-tablet-min.png 2x" media="(min-width:768px)">
        <!-- phone screen -->
        <source srcset="./images/png1x-logo-mob-min.png 1x, 
                            ./images/png2x-logo-mob-min.png 2x" media="(min-width:480px)">
        <img src="./images/png1x-logo-mob-min.png" alt="ice-cream">
    </picture>

    <nav class="mobile-navigation">
        <ul class="mobile-menu list">
                <li class="navigation__item"><a class="navigation__link link" href="#header">Home</a></li>
                <li class="navigation__item"><a class="navigation__link link" href="#about">How it’s made?</a></li>
                <li class="navigation__item"><a class="navigation__link link" href="#products-section">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link link" href="#contant">Contact</a></li>
            </ul>
       
    </nav>
    <button class="mobile-menu-button btn-light" type="button">
        <span>Buy now</span>
        <svg width="12" height="12">
            <use href="./images/icon.svg#icon-arrow-right-small"></use>
        </svg>
    </button>
</div>
</header>

<!-- Modal product -->
<form>
    <ul class="header_product-checkbox list">
        <li class="header_product-item header_li-1">
            <div class="header_product-container">
                <label><input type="checkbox" name="checked-product"><span>
                        <p class="header_item-description">ice cream</p>
                    </span><img src="./images/png1x-ice-creame-modal-buy-min.png" alt="photo of ice cream">
        <li class="header_product-item header_li-2">
            <div class="header_product-container">
                <label><input type="checkbox" name="checked-product"><span>
                        <p class="header_item-description">ice coffee</p>
                    </span><img src="./images/png1x-ice-coffee-modal-buy-min.png" alt="photo of ice coffee">
                </label>
            </div>
        </li>
        <li class="header_product-item header_li-3">
            <div class="header_product-container">
                <label><input type="checkbox" name="checked-product"><span>
                        <p class="header_item-description">milkshake</p>
                    </span><img src="./images/png1x-milkshakes-modal-buy-min.png" alt="photo of milkshake">
                </label>
            </div>
        </li>
    </ul>
    <label class="form__client-info-block">
        <input type="text" required placeholder="Name" /></label>
    <label class="form__client-info-block">
        <input type="tel" required placeholder="Phone" />
        <label class="form__client-info-block"><textarea name="coment" rows="2" placeholder="Comment"
                class="form__coment"></textarea>
        </label>
        <button type="submit" class="header_modal-subm-btn">Submit</button>
</form>
</div>
