.reviews .karusel {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img {
        border-radius: 50%;
        margin-bottom: 32px;
    }

    &__text-box {
        background-color: $background-color;
        margin-bottom: 32px;
        border-radius: 10px;
    }

    &__text {
        color: $text-primary-color;
        font-size: 12px;
        line-height: 2.58;
        text-align: center;
    }

    &__name {
        margin-top: 0;
        margin-bottom: 12px;
        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.85;
    }

    // dots

    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        color: $dot-reviews-color;
        -webkit-font-smoothing: antialiased;
        }
        
        .slick-dots li.slick-active button:before {
        color: $background-color;
        }
}



@media screen and (max-width: $pre-tablet) {
.reviews .karusel {
    &__text-box {
        padding: 35px 39px;
    }

    &__text {
        width: 202px;
    }
}
}

@media screen and (min-width: $tablet) {
    .reviews .karusel {
        &__text-box {
            width: 705px;
            border-radius: 24px;
            padding: 42px 73px;
        }

        &__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.86;
            text-align: center;
            letter-spacing: 0.04em;
            width: 545px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .reviews .karusel {
        &__text-box {
            width: 968px;
            padding: 43px 109px;
        }

        &__text {
            font-size: 16px;
            line-height: 1.88;
            width: 750px;
        }
    }
}

.gallery .karusel {
    // position: absolute;
    // z-index: 1;
    // top: 0;
    // left: 0;
    justify-content: center;
    align-items: center;

    &__item {
        justify-content: center;
        align-items: center;
    }

    &__img {
        margin-right: auto;
        margin-left: auto;
    }

    & .slick-dots {
        display: none;
    }

    & .slick-dots li button {
        display: none;
    }

    & .slick-dots li button:before {
        display: none;
    }

    & .slick-next:before {
        display: none;
    }

    & .slick-prev:before {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .gallery .karusel {
        &__img {
            width: 280px;
            border-radius: 8px;
        }
    }
    
}

@media screen and (min-width: $mobile) {
    .gallery .karusel {
        &__img {
            width: 440px;
            border-radius: 8px;
        }

        &__item {
            width: 440px;
            border-radius: 8px;
        }
    }
}

@media screen and (min-width: $tablet) {
    .gallery .karusel {
        &__img {
            width: 704px;
            border-radius: 18px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .gallery .karusel {
        &__img {
            width: 1013px;
            border-radius: 24px;
        }
    }
}