$mobile: 480px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desktop: 1199px;
$desktop: 1200px;

.reviews .karusel {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__img {
            border-radius: 50%;
            margin-bottom: 32px;
        }

        &__text-box {
            background-color: $background-color;
            margin-bottom: 32px;
            border-radius: 10px;
        }

        &__text {
            color: $text-primary-color;
            font-size: 12px;
            line-height: 2.58;
            text-align: center;
        }

        &__name {
            margin-top: 0;
            margin-bottom: 12px;
            
            font-weight: 500;
            font-size: 20px;
            line-height: 1.85;
        }
}

// dots

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    content: '•';
    text-align: center;
    color: $dot-reviews-color;
    -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
    color: $background-color;
}

@media screen and (max-width: $pre-tablet) {
    .reviews .karusel {
        &__text-box {
            padding: 35px 39px;
        }

        &__text {
            width: 202px;
        }
    }
}