.about{
    padding-top: 60px;
    padding-bottom: 25px;
    background-color: $background-color;
    color:$text-primary-color;
}
.about_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 210px;
    margin-bottom: 32px;
   .about_pre-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
   };
   .about_title{
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
   };
}
@media screen and (min-width: $mobile) and (max-width:$pre-tablet) {
    .about_pre-title{
        order:1;
        margin-bottom: 0;
    }
    .about_title{
        order:0;
        margin-bottom: 12px;
    }
}  
.about_img-container{
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    max-width: 280px;
    &::before{
        content: '';
        display: block;
        padding-top: 100%;
    }
    img{
        margin-top: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 -22px 0 0 rgba(248, 210, 78, 0.7);
    }
}
.about_description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
    p{
        width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76em;
    text-align: center;
    letter-spacing: 0.04em;
    &:not(:last-of-type){
        margin-bottom: 4px;
    };
    &:nth-child(3){
        display: none;
    }}
}
.about .about_btn{
    cursor: pointer;
    border: none;
    width: 164px;
    height: 42px;
    padding: 12px 34px;
    background-color: $bcg-button-icon-accent-color;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    svg{
        width: 12px;
        height: 12px;
        fill:#000000;
        margin-left: 4px;
    }
    &:hover{
        background-color: #0A8817;
    }
    &:focus{
        background-color: #0A8817;
        color: $text-primary-color;
        svg{
            fill: $text-primary-color;
        }
    }
    &:disabled{
        background-color: #ABABAB;
        color: #131313;
    }
}
@media screen and (min-width: $tablet) {
    .about{
        padding-bottom: 30px;}
    .about_container{ 
        max-width: 454px;
        margin-bottom: 72px;
     .about_pre-title{
        font-size: 22px;
        line-height: 1.22em;}
    }
    .about_title{
        font-size: 34px;}
     .about_context-container{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 32px;
            margin:0 auto;
            width: 768px;
            
        }
    .about_img-container{
        max-width: 330px;
        margin: 0;
        flex: 50%;
        img{
        top: 0;
        left: 0;
        transform: translate(0, 0);
        height: calc(100% - 22px);
    }}
    .about_text-button-container{
        padding-top: 8px;
        max-width: 50%;
        &>.about_btn{margin: 0;}
    }
     .about_description{
        margin: 0;
        max-width: 336px;
        margin-bottom: 32px;
        p{
            text-align: left;
            line-height: 1.76em;

            &:nth-child(3){
            display: block;
            line-height: 1.94em;
            }
            }
        }
} 
@media screen and (min-width: $desktop) {
    .about_container{ 
        max-width: 480px;
        margin-bottom: 82px;
     .about_pre-title{
        font-size: 30px;
        line-height: 1.23em;}
    }
    .about_title{
        font-size: 36px;
        line-height: 1.25em;}
    .about_context-container{
        align-items: center;
        width: 1200px;
        justify-content: space-around;
        }
    .about_img-container{
        max-width: 490px;}
    .about_text-button-container{
        width: 463px;}
    .about_description{
            max-width: 463px;
        p{
            &:nth-child(1){
                font-size: 16px;
            }
            &:not(:first-child){
                font-size: 14px;
                line-height: 1.94em;
            }
            &:not(:last-of-type){
                margin-bottom: 8px;
            };
        }
            }
    }
    /*-------------ABOUT MODAL-------------*/
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 300ms linear, visibility 300ms linear;
      }
      .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
      .about_modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        max-width: 280px;
        max-height: 460px;
        background: #ffffff;
        border-radius: 10px;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms;
        padding: 28px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .backdrop.is-hidden .modal-window {
        transform: translate(-50%, -50%) scale(0);
      }
      .about_close-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        cursor: pointer;
        padding: 0;
        border: none;
        svg {
        fill: #131313;
        background-color: #fff;
        width: 20px;
        height: 20px;
      
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      };
    //   &:hover svg, &:focus svg{
    //     fill: #131313;
    //   };
      }
      .about_modal-title{
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        display: flex;
        align-items: center;
        text-align: center;
        color: #131313;
        margin-bottom: 20px;
      }
      .about_modal-description{
        max-width: 224px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4em;
        color: #131313;
      }
      .about_modal-window> iframe{
        width: 224px;
        height: 200px;
        border: none;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      @media screen and (min-width: 768px) {
       
        .about_modal-window {
          width: 678px;
          max-width: 100%;
          height: 450px;
          padding: 32px;
      };
      .about_modal-title{
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 1.4em;
      }
      .about_modal-window> iframe{
        margin-bottom: 32px;
        width: 448px;
        height: 205px;
      }
      .about_modal-description{
        max-width: 448px;
        font-size: 16px;
      }
      .about_close-btn {
        width: 24px;
        height: 24px;
        svg{
            width: 24px;
            height: 24px;
        }
      }
      }