.advantages {
  background-color: $background-color;
}

.advantages__title {
  @include visually-hidden;
}

.advantages__container {
  padding-top: 35px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    padding-left: 125px;
    padding-right: 125px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 204px;
    padding-left: 76px;
    padding-right: 76px;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 178px;
    width: 1200px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: 230px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat';
  &:not(:last-child) {
    padding-bottom: 32px;
  }

  @media screen and (min-width: 480px) {
    flex-basis: 100%;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 160px) / 3);
    &:not(:last-child) {
      padding-bottom: 0;
      margin-right: 80px;
    }
  }
}

.advantages__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    font-size: 48px;
    line-height: 59px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 40px;
    font-size: 58px;
    line-height: 71px;
  }
}

.advantages__item::before {
  content: '';
  position: relative;
  display: inline-block;
  background-color: $bcg-button-icon-accent-color;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.adv-1::before {
  background-image: url(../images/png1x-icon-cow-min.png);
}

.adv-2::before {
  background-image: url(../images/png1x-icon-weight-min.png);
}

.adv-3::before {
  background-image: url(../images/png1x-icon-ice-crema-min.png);
}

.advantages__text {
  max-width: 230px;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  display: inline-block;
  text-align: center;
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  @media screen and (min-width: 768px) {
    max-width: 152px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 368px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}
