/* Mobile menu */
.menu-toggle {
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    fill: $text-minor-color;

    @media screen and(min-width:$pre-desktop) {
        display: none;
    }
}

.menu-toggle svg {
    width: 32px;
    height: 32px;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 20px 48px 88px;
    background-color: $background-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    @media screen and(min-width:$mobile) {
        justify-content: flex-start;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 26px;
    right: 26px;
    color: $text-minor-color;
}

.menu-container img {
    width: 48px;
    height: 44px;
}

.mobile-navigation {
    @media screen and(min-width:$mobile) {
        margin-top: 73px;
    }
}

.mobile-menu li:not(:last-child) {
    margin-bottom: 32px;

    @media screen and(min-width:$mobile) {
        margin-bottom: 40px;
    }
}

.mobile-menu-link {
    padding: 10px;
    color: $text-minor-color;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39 / 32);

    @media screen and(min-width:$mobile) {
        font-size: 48px;
        line-height: calc(59 / 48);
    }
}

.mobile-menu-dark {
    color: $text-main-color;
}